* {
    font-family: "Big Shoulders Display", cursive;
  }
  
  body{
    display: flexbox;
  }
  
  h1 {
   
    text-align: center;
    margin-top: 0.25em;
    padding: .25em;
    font-size: 40pt;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px #000;
    background: radial-gradient(
        ellipse at top,
        rgba(146, 224, 255, 0.425),
        transparent
      ),
      radial-gradient(ellipse at bottom, teal, transparent);
  }
  
  animal-card {
   display: flex;
   justify-content: center;
  }
  
  animal-list {
    display:flex;
    justify-content: center;
  }
  
  
  .animal-adder{
  display: flexbox;
  float:inline-start;
  } 

  a, p{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: .25em;
   
  }
  
  