@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap');

body {
        
        background-image: url('./assets/animalbackgroundcolor.svg');
        height: 100%;
        margin: 0;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: rgb(253, 252, 247);
      
}
